.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;

    a { 
        color: #ffffff;
        box-shadow: none;
        text-decoration: none;
        display: block;
        padding: 1rem; 
        border-radius: .5rem;
    }

    a:hover{
        
        background: #555555;
    }

    h2 {

        margin: 0;
    }


}