.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;

    a { 
        color: rgb(29, 27, 31);
        box-shadow: none;
        text-decoration: none;
        display: block;
        padding: 1rem; 
        border-radius: .5rem;
    }

    a:hover{
        
        //background: #dddddd;
        //box-shadow: 0 8px 6px -6px rgba(151,0,204,.87);
        border: 2px solid black;
    }

    h2 {

        margin: 0;
    }


}