

.title {
    text-decoration: none;
}

.nav-item {
    text-decoration: none;
    
}

.nav-list {

    margin: 0; //clears default margin values
}

.nav-item:hover{
    color: #666666;
}

.active-nav-item {
    color: #333333;
}
