.container {
    //background-color: purple;
    padding: 1rem;
    //margin: 1rem;
}

.profile-pic {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
   
    margin-bottom: 0;
    margin-right: .875rem;
}

.name-img-container {
    //margin: 0.5rem;
    padding: 0.5rem;
    //padding-top: 0.5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    max-width: 250px;
    //background-color: red;
}

.name {
    padding: 1rem 1rem;
}


