.container {
    //background-color: purple;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.profile-pic {
    height: 3rem;
    width: 5rem;
    border-radius: 50%;
    padding: 1.4rem 0;
    margin-bottom: 0;
    margin-right: 10;
}

.name-img-container {
    margin: 0.5rem;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    //background-color: pink;
}

.name {
    padding: 1rem 1rem;
}


