.container {
    //background-color: purple;
    padding: 2.5rem;
}

.profile-pic {
    height: 5rem;
    width: 4.75rem;
    border-radius: 10%;
    margin-bottom: 0;
    margin-right: 10;
}

.name-img-container {
    margin: 0.5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    //background-color: pink;
}

.name {
    padding: 0rem 1rem;
}


